
	<section class="sidetabs block grid_3 tabs"><section class="block-container">
	<div class="block-content">
		<h3>Manage</h3>
		<ul class="navigation admin active level_1 depth_1">
			<li class="active"><a href="/manage/releases">Releases</a></li>
			<li class="inactive"><a href="/manage/scores">Scores</a></li>
		</ul>
		<div class="actions">
			<a href="/manage/releases/new" class="add icon button">New Release</a>
			<a href="/manage/plates/new/our_music" class="add icon button">New Plate</a>
		</div>
	</div>
	</section></section>
	<section class="block grid_9 tabs"><section class="block-container">
	<div class="block-header">
		<h3 class="block-description">Content</h3>
		<ul class="block-toggles">
		</ul>
	</div>
	<div class="block-table">
		<div class='table'>
			<div class='header-group'>
				<div class='row'>
					<div class='col'>
						Description
					</div>
					<div class='col'>
						Summary
					</div>
					<div class='col'>
						Last Modified
					</div>
					<div class='col'>
						&nbsp;
					</div>
				</div>
			</div>
			<div class='row-group'>
				<div class='row'>
					<div class='col'>
						Introduction
					</div>
					<div class='col'>
						Dive in here for samples of our music and where...
					</div>
					<div class='col'>
						14 days ago
					</div>
					<div class='col actions'>
						<div class="button-group">
							<a href="/manage/plates/our_music-introduction/edit" class="pill button">Edit</a>
							<a href="/manage/plates/our_music-introduction" class="pill button" data-confirm="Are you sure?" data-method="delete" rel="nofollow" title="destroy">Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section></section>
	<section class="block grid_9 tabs"><section class="block-container">
	<div class="block-header">
		<h3 class="block-description">Releases</h3>
		<ul class="block-toggles">
		</ul>
	</div>
	<div class="block-table">
		<div class='table'>
			<div class='header-group'>
				<div class='row'>
					<div class='col'>
						Title
					</div>
					<div class='col'>
						Format
					</div>
					<div class='col'>
						Publisher
					</div>
					<div class='col'>
						Tracks
					</div>
					<div class='col'>
						Released
					</div>
					<div class='col'>
						&nbsp;
					</div>
				</div>
			</div>
			<div class='row-group'>
				<div class='row'>
					<div class='col'>
						Extraordinary Tale
					</div>
					<div class='col'>
						CD
					</div>
					<div class='col'>
						ABC Jazz
					</div>
					<div class='col'>
						13
					</div>
					<div class='col'>
						2011, Jul 29
					</div>
					<div class='col actions'>
						<div class="button-group">
							<a href="/our_music/extraordinary-tale" class="pill button" target="_blank" title="show">Show</a>
							<a href="/manage/releases/extraordinary-tale/edit" class="pill button" title="edit">Edit</a>
							<a href="/manage/releases/extraordinary-tale" class="danger pill trash icon button" data-confirm="Are you sure?" data-method="delete" rel="nofollow" title="destroy">Delete</a>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						Feels Like Spring
					</div>
					<div class='col'>
						CD
					</div>
					<div class='col'>
						ABC Jazz
					</div>
					<div class='col'>
						12
					</div>
					<div class='col'>
						2010, Apr 16
					</div>
					<div class='col actions'>
						<div class="button-group">
							<a href="/our_music/feels-like-spring" class="pill button" target="_blank" title="show">Show</a>
							<a href="/manage/releases/feels-like-spring/edit" class="pill button" title="edit">Edit</a>
							<a href="/manage/releases/feels-like-spring" class="danger pill trash icon button" data-confirm="Are you sure?" data-method="delete" rel="nofollow" title="destroy">Delete</a>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						The Idea of North - Live at the Powerhouse
					</div>
					<div class='col'>
						DVD
					</div>
					<div class='col'>
						ABC Jazz
					</div>
					<div class='col'>
						15
					</div>
					<div class='col'>
						2007, Aug 18
					</div>
					<div class='col actions'>
						<div class="button-group">
							<a href="/our_music/the-idea-of-north-live-at-the-powerhouse" class="pill button" target="_blank" title="show">Show</a>
							<a href="/manage/releases/the-idea-of-north-live-at-the-powerhouse/edit" class="pill button" title="edit">Edit</a>
							<a href="/manage/releases/the-idea-of-north-live-at-the-powerhouse" class="danger pill trash icon button" data-confirm="Are you sure?" data-method="delete" rel="nofollow" title="destroy">Delete</a>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						The Idea of North - Live at the Powerhouse
					</div>
					<div class='col'>
						CD
					</div>
					<div class='col'>
						ABC Jazz
					</div>
					<div class='col'>
						15
					</div>
					<div class='col'>
						2007, Jul 1
					</div>
					<div class='col actions'>
						<div class="button-group">
							<a href="/our_music/the-idea-of-north-live-at-the-powerhouse-1" class="pill button" target="_blank" title="show">Show</a>
							<a href="/manage/releases/the-idea-of-north-live-at-the-powerhouse-1/edit" class="pill button" title="edit">Edit</a>
							<a href="/manage/releases/the-idea-of-north-live-at-the-powerhouse-1" class="danger pill trash icon button" data-confirm="Are you sure?" data-method="delete" rel="nofollow" title="destroy">Delete</a>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						The Gospel Project
					</div>
					<div class='col'>
						CD
					</div>
					<div class='col'>
						KI Entertainment
					</div>
					<div class='col'>
						13
					</div>
					<div class='col'>
						2006, Mar 6
					</div>
					<div class='col actions'>
						<div class="button-group">
							<a href="/our_music/the-gospel-project" class="pill button" target="_blank" title="show">Show</a>
							<a href="/manage/releases/the-gospel-project/edit" class="pill button" title="edit">Edit</a>
							<a href="/manage/releases/the-gospel-project" class="danger pill trash icon button" data-confirm="Are you sure?" data-method="delete" rel="nofollow" title="destroy">Delete</a>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						Evidence
					</div>
					<div class='col'>
						CD
					</div>
					<div class='col'>
						ABC Jazz
					</div>
					<div class='col'>
						12
					</div>
					<div class='col'>
						2004, May 14
					</div>
					<div class='col actions'>
						<div class="button-group">
							<a href="/our_music/evidence" class="pill button" target="_blank" title="show">Show</a>
							<a href="/manage/releases/evidence/edit" class="pill button" title="edit">Edit</a>
							<a href="/manage/releases/evidence" class="danger pill trash icon button" data-confirm="Are you sure?" data-method="delete" rel="nofollow" title="destroy">Delete</a>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col'>
						Here &amp; Now
					</div>
					<div class='col'>
						CD
					</div>
					<div class='col'>
						ABC Jazz
					</div>
					<div class='col'>
						11
					</div>
					<div class='col'>
						2003, Oct 15
					</div>
					<div class='col actions'>
						<div class="button-group">
							<a href="/our_music/here-and-now" class="pill button" target="_blank" title="show">Show</a>
							<a href="/manage/releases/here-and-now/edit" class="pill button" title="edit">Edit</a>
							<a href="/manage/releases/here-and-now" class="danger pill trash icon button" data-confirm="Are you sure?" data-method="delete" rel="nofollow" title="destroy">Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section></section>
